.App {
  text-align: center;
  margin-top:30px auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.font-25{
  font-size: 25px;
}
.font-18{
  font-size: 18px;
}
.main-container{
  margin: 50px auto;
  width:800px;
}
.font-white{
  color: beige;
}
.ml-20{
  margin-left: 20px;
}
.content{
    margin: 5px auto;
    width:600px;
}
